@using BTL.Models
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<BTL.Models.SanPham>
@{
    ViewBag.Title = "KetQuaTimKiem";
    Layout = "~/Views/Share/_LayoutPage1.cshtml";
}

<div class="container-fluid pb-4 pt-4 paddding">
    <div class="container paddding">
        <div class="row mx-0">

            <div class="col-md-8 animate-box" data-animate-effect="fadeInLeft">
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4"><p>@ViewBag.ThongBao</p></div>
                </div>
                @{
                    foreach (var item in Model)
                    {
                        <div class="row pb-4">

                            <div class="col-md-5">
                                <div class="fh5co_hover_news_img">
                                    <div class="fh5co_news_img"><a href="@Url.Action("xemChiTiet","Home", new { @MaSP = item.MaSP })"><img src="@Url.Content("~/images/" + item.MaSP+".jpg")" alt="" /></a></div>
                                    <div></div>
                                </div>
                            </div>
                            <div class="col-md-7 animate-box">
                                <a href="@Url.Action("xemChiTiet","Home", new { @MaSP = item.MaSP })" class="fh5co_magna py-2">
                                    @item.TenSP
                                </a>
                                <br />
                                <div class="fh5co_consectetur">
                                    Giá bán: @item.DonGiaBan đồng
                                    <br />
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
            @Html.Action("Tags", "Home")
        </div>
    </div>
</div>
<div class="container text-center align-items-center">
    Trang @Model.PageCount<Model.PageNumber? 0 : Model.PageNumber>/ @Model.PageCount
        <div class="menuTrang">
            @Html.PagedListPager(Model, page => Url.Action("KetQuaTimKiem", new { page = page, form = ViewBag.form }))
        </div>
</div>
