@using BTL.Models
@model List<SanPham>


    <div class="col-md-8 animate-box" data-animate-effect="fadeInLeft">
        <div>
            <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4"><p>ĐANG GIẢM GIÁ</p></div>
        </div>
        @{
            int i = 0;
            foreach (var item in Model)
            {
                if (i == 4)
                {
                    break;
                }
                <div class="row pb-4">

                    <div class="col-md-5">
                        <div class="fh5co_hover_news_img">
                            <div class="fh5co_news_img"><a href="@Url.Action("xemChiTiet","Home", new { @MaSP = item.MaSP })"><img src="@Url.Content("~/images/" + item.MaSP+".jpg")" alt="" /></a></div>
                            <div></div>
                        </div>
                    </div>
                    <div class="col-md-7 animate-box">
                        <a href="@Url.Action("xemChiTiet","Home", new { @MaSP = item.MaSP })" class="fh5co_magna py-2">
                            @item.TenSP
                        </a> 
                        <br />
                        <p class="fh5co_mini_time py-3">
                            Giá Khuyến Mại: @item.DonGiaNhap đồng
                            <br />
                        </p>
                        <div class="fh5co_consectetur">
                            Giá gốc: @item.DonGiaBan đồng
                            <br />
                            Khuyến mại áp dụng tới ngày:  April 18,2016
                        </div>
                    </div>
                </div>
                i++;
            }
        }
    </div>