@using BTL.Models
@model List<SanPham>
<div>
    <div class="fh5co_heading fh5co_heading_border_bottom pt-3 py-2 mb-4"><p>Top Bán Chạy</p></div>
</div>
@{
    int i = 0;
    foreach (var item in Model)
    {
        if (item.SoLuong < 4)
        {
            <div class="row pb-3">
                <div class="col-5 align-self-center">
                    <a href="@Url.Action("xemChiTiet","Home", new { @MaSP = item.MaSP })" class="fh5co_magna py-2"><img src="@Url.Content("~/images/" + item.MaSP+".jpg")" alt="img" class="fh5co_most_trading" /></a>
</div>
                <div class="col-7 paddding">
                    <div class="most_fh5co_treding_font"><a href="@Url.Action("xemChiTiet","Home", new { @MaSP = item.MaSP })" class="fh5co_magna py-2"> @item.TenSP</a></div>
                    <div class="most_fh5co_treding_font_123">Số lượng còn: @item.SoLuong</div>
                </div>
            </div>
        }
    }
}

