<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>24 News — Free Website Template, Free HTML5 Template by FreeHTML5.co</title>
    <link href="~/css/media_query.css" rel="stylesheet" type="text/css" />
    <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="~/css/animate.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link href="~/css/owl.carousel.css" rel="stylesheet" type="text/css" />
    <link href="~/css/owl.theme.default.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet">
    <style>
        p, a, h3, h2, h4, td, th, dd, dt{
            font-family: 'Cabin', sans-serif !important;
        }
    </style>
    <!-- Bootstrap CSS -->
    <link href="~/css/style_1.css" rel="stylesheet" type="text/css" />
    <!-- Modernizr JS -->
    <script src="~/js/modernizr-3.5.0.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-3 fh5co_padding_menu">
                    <img src="~/images/dogLogo2.png" alt="img" class="fh5co_logo_width" />
                </div>
                <div class="col-12 col-md-9 align-self-center fh5co_mediya_right">
                    <div class="text-center d-inline-block">
                                @using (Html.BeginForm("KetQuaTimKiem", "TimKiem", FormMethod.Post))
                                {
                                    @Html.TextBox("txtTimKiem", "", htmlAttributes: new { @class = "txtTimKiem form-control", @placeholder = "Nhập từ khóa" })
                                }
                    </div>
                    
                    <!--<div class="d-inline-block text-center"><img src="images/country.png" alt="img" class="fh5co_country_width"/></div>-->

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-faded fh5co_padd_mediya padding_786">
        <div class="container padding_786">
            <nav class="navbar navbar-toggleable-md navbar-light ">
                <button class="navbar-toggler navbar-toggler-right mt-3" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="fa fa-bars"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="~/images/dogLogo2.png" alt="img" class="mobile_logo_width" /></a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="@Url.Action("", "Home")">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item ">

                            <a class="nav-link" href="@Url.Action("blog", "Home")">News <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="@Url.Action("single", "Home")">About us <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton2" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">Sản phẩm <span class="sr-only">(current)</span></a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink_1">
                                <a class="dropdown-item" href="#">Điện thoại</a>
                                <a class="dropdown-item" href="#">Laptop</a>
                                <a class="dropdown-item" href="#">Mac</a>
                                <a class="dropdown-item" href="#">TV</a>
                                <a class="dropdown-item" href="#">Watch</a>
                                <a class="dropdown-item" href="#">Máy tính bảng</a>
                                <a class="dropdown-item" href="#">Túi, balo</a>
                                <a class="dropdown-item" href="#">Phụ kiện</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton3" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">Dịch vụ<span class="sr-only">(current)</span></a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink_1">
                                <a class="dropdown-item" href="#">Sửa chữa</a>
                                <a class="dropdown-item" href="#">Bảo hành</a>
                                <a class="dropdown-item" href="#">Tư vấn</a>
                            </div>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="@Url.Action("contact", "Home")">Contact <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="@Url.Action("themSanPham", "Home")">Thêm mới <span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <main id="center" class="column">
        @RenderBody()
    </main>
    <div class="container-fluid fh5co_footer_bg pb-3">
        <div class="container animate-box">
            <div class="row">
                <div class="col-12 spdp_right py-5"><img src="~/images/dogLogo2.png" alt="img" class="footer_logo" /></div>
                <div class="clearfix"></div>
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="footer_main_title py-3"> About us</div>
                    <div class="footer_sub_about pb-3">
                        <p>
                            Chân thành cảm ơn mọi người đã ghé thăm HPA shop.
                        </p>
                        <p>
                            HPA shop hứa hẹn cung cấp những sản phẩm chất lượng nhất tốt nhất đến người dùng.
                        </p>
                        <p>Ở đây chúng tôi bán trải nghiệm, không bán sản phẩm!</p>
                        <p>
                            HPA luôn mong muốn những trải nghiệm của khách hàng khi sử dụng sản phẩm cũng như khi ghé thăm shop là tốt nhất.
                            Đội ngũ nhân viên HPA phục vụ tận tình, luôn đặt cảm xúc của khách hàng làm lên trước doanh số.
                            Nằm giữa lòng Hà Nội náo nhiệt nhưng luôn phục quý khách thật tận tâm và chu đáo, bất kể ngoài kia sóng gió thế nào.
                        </p>
                    </div>
                    <div class="footer_mediya_icon">
                        <div class="text-center d-inline-block">
                            <a class="fh5co_display_table_footer">
                                <div class="fh5co_verticle_middle"><i class="fa fa-linkedin"></i></div>
                            </a>
                        </div>
                        <div class="text-center d-inline-block">
                            <a class="fh5co_display_table_footer">
                                <div class="fh5co_verticle_middle"><i class="fa fa-google-plus"></i></div>
                            </a>
                        </div>
                        <div class="text-center d-inline-block">
                            <a class="fh5co_display_table_footer">
                                <div class="fh5co_verticle_middle"><i class="fa fa-twitter"></i></div>
                            </a>
                        </div>
                        <div class="text-center d-inline-block">
                            <a class="fh5co_display_table_footer">
                                <div class="fh5co_verticle_middle"><i class="fa fa-facebook"></i></div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3 col-lg-2">
                    <div class="footer_main_title py-3"> Category</div>
                    <ul class="footer_menu">
                        <li><a href="#" class=""><i class="fa fa-angle-right"></i>&nbsp;&nbsp; Moblie</a></li>
                        <li><a href="#" class=""><i class="fa fa-angle-right"></i>&nbsp;&nbsp; Tablet</a></li>
                        <li><a href="#" class=""><i class="fa fa-angle-right"></i>&nbsp;&nbsp; Laptop</a></li>
                        <li><a href="#" class=""><i class="fa fa-angle-right"></i>&nbsp;&nbsp; Mac</a></li>
                        <li><a href="#" class=""><i class="fa fa-angle-right"></i>&nbsp;&nbsp; TV</a></li>
                        <li><a href="#" class=""><i class="fa fa-angle-right"></i>&nbsp;&nbsp; Watch</a></li>
                        <li><a href="#" class=""><i class="fa fa-angle-right"></i>&nbsp;&nbsp; Bag</a></li>
                        <li><a href="#" class=""><i class="fa fa-angle-right"></i>&nbsp;&nbsp; Other Items</a></li>
                    </ul>
                </div>
                <div class="col-12 col-md-5 col-lg-3 position_footer_relative">
                    <div class="footer_main_title py-3"><p>Hot News</p></div>
                    <div class="footer_makes_sub_font"> Dec 31, 2016</div>
                    <a href="#" class="footer_post pb-4"> Success is not a good teacher failure makes you humble </a>
                    <div class="footer_makes_sub_font"> Dec 31, 2016</div>
                    <a href="#" class="footer_post pb-4"> Success is not a good teacher failure makes you humble </a>
                    <div class="footer_makes_sub_font"> Dec 31, 2016</div>
                    <a href="#" class="footer_post pb-4"> Success is not a good teacher failure makes you humble </a>
                    <div class="footer_position_absolute"><img src="~/images/footer_sub_tipik.png" alt="img" class="width_footer_sub_img" /></div>
                </div>
                <div class="col-12 col-md-12 col-lg-4 ">
                    <div class="footer_main_title py-3">Đội ngũ nhân viên:</div>
                    <a href="#" class="footer_img_post_6"><img src="~/images/allef-vinicius-108153.jpg" alt="img" /></a>
                    <a href="#" class="footer_img_post_6"><img src="~/images/32-450x260.jpg" alt="img" /></a>
                    <a href="#" class="footer_img_post_6"><img src="~/images/download (1).jpg" alt="img" /></a>
                    <a href="#" class="footer_img_post_6"><img src="~/images/science-578x362.jpg" alt="img" /></a>
                    <a href="#" class="footer_img_post_6"><img src="~/images/vil-son-35490.jpg" alt="img" /></a>
                    <a href="#" class="footer_img_post_6"><img src="~/images/zack-minor-15104.jpg" alt="img" /></a>
                    <a href="#" class="footer_img_post_6"><img src="~/images/download.jpg" alt="img" /></a>
                    <a href="#" class="footer_img_post_6"><img src="~/images/download (2).jpg" alt="img" /></a>
                    <a href="#" class="footer_img_post_6"><img src="~/images/ryan-moreno-98837.jpg" alt="img" /></a>
                </div>
            </div>
           
        </div>
    </div>
    

    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="fa fa-arrow-up"></i></a>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <!--<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
            integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
            integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
            crossorigin="anonymous"></script>
    <!-- Waypoints -->
    <script src="~/js/jquery.waypoints.min.js"></script>
    <!-- Main -->
    <script src="~/js/main.js"></script>

</body>
</html>